<mat-drawer-container class="main">
  <mat-drawer mode="side" opened class="sideBar">
    <div class="container">
      <div class="buttonGroup">
        <button mat-button routerLink="/dashboard">Inicio</button>
        <mat-divider></mat-divider>
        <button mat-button *ngIf="isadmin" routerLink="users">Usuarios</button>
        <mat-divider></mat-divider>
        <button mat-button *ngIf="isadmin || ismannger">Flota</button>
        <mat-divider></mat-divider>
        <button mat-button routerLink="vehicles">Vehículos</button>
        <mat-divider></mat-divider>
        <button mat-button routerLink="repair">Reparaciones</button>
        <mat-divider></mat-divider>
        <button mat-button>Perfil</button>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <button mat-button routerLink="contact">Contacto</button>
        <mat-divider></mat-divider>

        <img
          src="../../../../assets/logo_white.svg"
          alt="users-logo-login"
          class="arak1"
        />
        <img
          src="../../../../assets/logo_white.svg"
          alt="users-logo-login"
          class="arak2"
        />
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content class="">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
