<div class="container">
  <mat-toolbar class="toolName">
    <span *ngIf="flagEdit">Detalle Vehiculo</span>
    <span *ngIf="!flagEdit">Editar Vehiculo</span>
    <!-- <button mat-stroked-button color="primary" (click)="enableEditvehicle()">
      Editar
    </button> -->
  </mat-toolbar>
  <mat-card>
    <div class="wrapper">
      <div class="one">
        <form action="" class="host" [formGroup]="form">
          <mat-form-field class="formL">
            <div class="fill">
              <mat-label>Tipo:</mat-label>
              <ng-container ngSwitch="{{ vehicle.type_id }}">
                <p
                  style="font-size: 20px; color: rgba(0, 0, 0, 0.7)"
                  *ngSwitchCase="1"
                >
                  {{ " Moto" }}
                </p>
                <p
                  style="font-size: 20px; color: rgba(0, 0, 0, 0.7)"
                  *ngSwitchCase="2"
                >
                  {{ " Automovil" }}
                </p>
                <p
                  style="font-size: 20px; color: rgba(0, 0, 0, 0.7)"
                  *ngSwitchCase="3"
                >
                  {{ " Camioneta" }}
                </p>
                <p
                  style="font-size: 20px; color: rgba(0, 0, 0, 0.7)"
                  *ngSwitchCase="4"
                >
                  {{ " Camion" }}
                </p>
                <p
                  style="font-size: 20px; color: rgba(0, 0, 0, 0.7)"
                  style="font-size: 20px; color: rgba(0, 0, 0, 0.7)"
                  *ngSwitchCase="5"
                >
                  {{ " Taxi/Remis" }}
                </p>
                <input
                  matInput
                  placeholder="{{ vehicle.type_id }}"
                  value=""
                  disabled="{{ flagEdit }}"
                />
              </ng-container>
              <mat-form-field
                appearance="fill"
                class="login-full-width"
                *ngIf="!flagEdit"
              >
                <mat-label>Tipo Vehiculo</mat-label>
                <mat-select
                  [(ngModel)]="selectedValue"
                  name="Tipo"
                  formControlName="type_id"
                >
                  <mat-option *ngFor="let t of type" [value]="t.value">
                    {{ t.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </mat-form-field>
          <mat-form-field class="formL">
            <div class="fill">
              <mat-label>Marca:</mat-label>
              <input
                matInput
                placeholder="{{ vehicle.brand }}"
                value="{{ vehicle.brand }}"
                disabled="{{ flagEdit }}"
              />
            </div>
          </mat-form-field>
          <mat-form-field class="formL">
            <div class="fill">
              <mat-label>Modelo:</mat-label>
              <input
                matInput
                placeholder="{{ vehicle.model }}"
                value="{{ vehicle.model }}"
                disabled="{{ flagEdit }}"
              />
            </div>
          </mat-form-field>
          <mat-form-field class="formL">
            <div class="fill">
              <mat-label>Año</mat-label>
              <input
                matInput
                placeholder="{{ vehicle.year }}"
                value="{{ vehicle.year }}"
                disabled="{{ flagEdit }}"
              />
            </div>
          </mat-form-field>
          <mat-form-field class="formL">
            <div class="fill">
              <mat-label>Patente</mat-label>
              <input
                matInput
                placeholder="{{ vehicle.tag }}"
                value="{{ vehicle.tag }}"
                disabled="{{ flagEdit }}"
              />
            </div>
          </mat-form-field>
          <mat-form-field class="formL">
            <div class="fill">
              <mat-label>Seguro</mat-label>
              <input
                matInput
                placeholder="{{ vehicle.insurance }}"
                value="{{ vehicle.insurance }}"
                disabled="{{ flagEdit }}"
              />
            </div>
          </mat-form-field>
          <button
            *ngIf="!flagEdit"
            class="btnEdit"
            mat-stroked-button
            color="primary"
          >
            Confirmar editar
          </button>
          <!-- <mat-form-field class="formL" disabled>
            <div class="fill">
              <mat-label>Nombre:</mat-label>
              <input
                matInput
                placeholder="{{ vehicle.name }}"
                value="{{ vehicle.name }}"
                disabled="true"
              />
            </div>
          </mat-form-field> -->
        </form>
      </div>
      <div class="two">
        <img
          src="../../../../assets/vehicle.webp"
          alt=""
          style="max-width: 700px"
        />
      </div>
    </div>
  </mat-card>
</div>
