.sectionHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
  }
  
  .sectionVehicle button {
  
    height: 40px;
  
  }
  
  .layout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
  }
  
  table {
    width: 90%;
    min-width: 680px;
  
  }
  
  .butIcon {
    margin-left: 1px;
  }
  
  .butIcon:hover {
    color: rgb(29, 178, 44);
  }
  
  .elementos th {
    color: blue;
  }
  
  .elementos td,
  th {
    font-size: 18px !important;
  }
  
  .btnReg {
    position: relative;
    left: 80%;
    background-color: rgb(29, 111, 178);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin: 0.5rem;
  }
  
  .btnReg:hover {
    background-color: rgb(36, 180, 50);
  }
  