<section class="sectionHeader">
    <h2> - Listado de Usuarios - </h2>
    <button mat-stroked-button class="btnReg" (click)="openDialogAddUser()">Agregar Usuario</button>
  </section>
<section class="layout">

    <!-- Vehicle Table is loaded with endpoint -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z9 elementos">


      <!-- Type Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let vehicle; let i = index">{{ i + 1}}</td>
      </ng-container>
      <!-- Brand Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let vehicle"> {{vehicle.name}} </td>
      </ng-container>
  
      <!-- Model Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  



  
      <!-- Tag Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Roles </th>
        <td mat-cell *matCellDef="let element"> 
          <span [ngSwitch]="element.role">
            <span *ngSwitchCase="1">{{'Administrador'}}</span>
            <span *ngSwitchCase="2">{{'Usuario'}}</span>
            <span *ngSwitchCase="3">{{'Manager'}}</span>
            <span *ngSwitchDefault>(No eligió operación)</span>
          </span>  
        
        </td>
      </ng-container>

  
      <!-- Accion Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon color="primary" class="butIcon" aria-hidden="false"
            aria-label="Example home icon" fontIcon="visibility"></mat-icon>
          <mat-icon class="butIcon" aria-hidden="false" aria-label="Example home icon"
            fontIcon="edit" color=""></mat-icon>
          <mat-icon class="butIcon"  aria-hidden="false" aria-label="Example home icon"
            fontIcon="delete" color="warn"></mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>

  
