<section class="sectionForm">
  <h2> - Formulario de Contacto - </h2>

  <mat-spinner diameter="80" class="spinner" *ngIf="loading"></mat-spinner>

  <form [formGroup]="form" class="formContact" (ngSubmit)="saveContact()">

    <div class="container-form">
      <div class="fex-row">
        <mat-form-field class="full-width" hintLabel="Mínimo 3 Caracteres" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput #input maxlength="10" placeholder="Juan Carlos" formControlName="name">
          <mat-hint align="end">{{input.value.length || 0}}/10</mat-hint>
        </mat-form-field>
      </div>
      <div class="fex-row">
        <mat-form-field class="full-width" hintLabel="Sólo Números" appearance="fill">
          <mat-label>Teléfono</mat-label>
          <input matInput placeholder="Sólo Números 011458721654" value="" formControlName="phone">
        </mat-form-field>
      </div>
      <div class="fex-row">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>E-Mail</mat-label>
          <input matInput placeholder="juan@mail.com" value="" formControlName="email">
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Asunto</mat-label>
      <input matInput placeholder="Pedido" value="" formControlName="subjet">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Deja un comentario</mat-label>
      <textarea matInput placeholder="Ej.: Hola quiero ser Manager de Flota..." formControlName="text"></textarea>
    </mat-form-field>


    <button mat-raised-button class="btn">Enviar</button>

  </form>

</section>
