*{
  box-sizing: border-box;
}

.sectionForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  align-items: center;
  background-color: whitesmoke;
  padding: 10% 0 0 10%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
}


.container-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-left: -15px;
}

.fex-row{
  width: calc(33.3333% - 15px);
  padding: 15px;
  margin-left: 15px;
}

.full-width {
  width: calc(100% - 15px);
  margin-left: 15px;
  padding: 15px;
}

.btn{
  align-items: center;
  width: 40%;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 30%;
}
