<div class="container">
  <mat-toolbar>
    <span>Detalle Usuario</span>
  </mat-toolbar>
  <mat-card>
    <div class="wrapper">
      <div class="one">
        <form
          action=""
          class="host"
          [formGroup]="form"
          *ngFor="let user of users"
        >
          <mat-form-field class="formL" disabled>
            <div class="fill">
              <mat-label>Nombre:</mat-label>
              <input
                matInput
                placeholder="{{ user.name }}"
                value="{{ user.name }}"
                disabled="true"
              />
            </div>
          </mat-form-field>
          <mat-form-field class="formL" disabled>
            <div class="fill">
              <mat-label>Email:</mat-label>
              <input
                matInput
                placeholder="{{ user.mail }}"
                value="{{ user.mail }}"
                disabled="true"
              />
            </div>
          </mat-form-field>
          <mat-form-field class="formL" disabled>
            <div class="fill">
              <mat-label>Telefono:</mat-label>
              <input
                matInput
                placeholder="{{ user.phone }}"
                value="{{ user.phone }}"
                disabled="true"
              />
            </div>
          </mat-form-field>
          <mat-form-field class="formL" disabled>
            <div class="fill">
              <mat-label>Roles</mat-label>
              <input
                matInput
                placeholder="{{ user.role }}"
                value="{{ user.name }}"
                disabled="true"
              />
            </div>
          </mat-form-field>
          <!-- <mat-form-field class="formL" disabled>
            <div class="fill">
              <mat-label>Nombre:</mat-label>
              <input
                matInput
                placeholder="{{ user.name }}"
                value="{{ user.name }}"
                disabled="true"
              />
            </div>
          </mat-form-field> -->
        </form>
      </div>
      <div class="two">
        <img
          src="../../../../assets/user-detail.png"
          alt=""
          style="max-width: 270px"
        />
      </div>
    </div>
  </mat-card>
</div>
