.navBar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    background-color: rgb(25,140,132);
    color: white;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    border: 1px solid rgb(25,140,132);
    padding: 4px;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 0 1rem;
    rotate: 38deg;
}

.log {
    display: flex;
    align-items: center;
}

.log:hover {
    color: rgb(69, 212, 90)
}

.button {
    position: absolute;
    right: 10px;
}