<mat-toolbar class="navBar">
  <div class="log">
    <img
      src="../../../../assets/logo_white.svg"
      alt="users-logo-login"
      class="logo"
    />
    <span>AraK</span>
    <span class="userName"
      >Usuario : <em>{{ name }}</em> Permiso : <em>{{ role }}</em></span
    >
  </div>

  <div class="logOut">
    <mat-icon
      (click)="logout()"
      class="button"
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="logout"
    ></mat-icon>
  </div>
</mat-toolbar>
