/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snakOk {
    background: #49a947;
  }

.snakError .mat-simple-snackbar {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !;
    background: #d67d38;
    
  }
